body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card-desc-section {
    width: 30%;
    height: 100%;
    background-color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-selected {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-selected div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* right side */

.game-section {
    width: 70%;
    height: 100%;
    background-color: #FFFFCF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.deck {
    width: 100%;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.versus {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.versus-image {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-image: url('../images/x.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.versus-card {
    width: 143px;
    height: 260px;
}

.deck-card {
    /* aspect-ratio 11x20 */
    width: 110px;
    height: 200px;
}

.player-deck-card {
    transition: transform 0.2s;
}

.player-deck-card:hover {
    transform: scale(1.2) translateY(-20px);
}